<!DOCTYPE html>
<html>
<head>
  <title>Safetosay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="mainLogo">
    <%= image_tag("main_logo.png") %>
  </div>

  <div id="contentBox">
    <nav>
      <%= image_tag("news.png",    :class => "navLink") %>
      <%= image_tag("shows.png",   :class => "navLink") %>
      <%= image_tag("music.png",   :class => "navLink") %>
      <%= image_tag("photos.png",  :class => "navLink") %>
      <%= image_tag("contact.png", :class => "navLink") %>
    </nav>
  
  <div id="pageContent">
    <%= yield %>
     <footer>
      <%= image_tag("facebook2.png", :class => "footerIcon") %>
      <%= image_tag("reverbnation.png", :class => "footerIcon") %>
      <%= image_tag("github3.png", :class => "footerIcon") %>
    </footer>
  </div>

   

  </div>



</body>
</html>
