<!DOCTYPE html>
<html>
<head>
  <title>Safetosay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="mainLogo">
    <%= image_tag("main_logo.png") %>
  </div>

  <div id="contentBox">
    <nav>
      <table>
        <tr><%= image_tag("news.png",    :class => "navLink") %></tr>
        <tr><%= image_tag("shows.png",   :class => "navLink") %></tr>
        <tr><%= image_tag("music.png",   :class => "navLink") %></tr>
        <tr><%= image_tag("photos.png",  :class => "navLink") %></tr>
        <tr><%= image_tag("contact.png", :class => "navLink") %></tr>
      </table>
    </nav>
  

    <%= yield %>

  </div>

</body>
</html>
