<!DOCTYPE html>
<html>
<head>
  <title>Safetosay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="main_logo">
    <%= image_tag("main_logo.png") %>
  </div>

  <div id="content_box">
    <nav>
    </nav>
  

    <%= yield %>

  </div>

</body>
</html>
